node_modules
.git
.gitignore
*.md
dist
coverage
.cache
.turbo
.env
.env.*
!.env.example
docs
test
**/*.spec.ts
**/*.test.ts
.gitkeep
.pub
.dart_tool
build
*.log
npm-debug.log*
.yarn-debug.log*
.yarn-error.log*
